
body{
	font-family: dancing script;
	background-color: #02010a;
	margin-left: 10%;
	margin-right: 10%;
	color: white;
}

header{
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
}

header #titulo{
	color: white;
	text-shadow: 2px 2px #02010a;
}

header #menu-principal ul li{
	color: white;
	list-style-type: none;
	padding: 2px;
}

header #menu-principal ul {
	margin: 0px;
	padding: 0px;
}

.lista{
	display: flex;
	flex-flow: row wrap;
}

@media(max-width: 900px) {
	#menu-principal{
		max-width: 900px;
		margin-top: auto;
		margin-bottom: auto;
		width: 100%;
	}
	#inicio, #Paisaje, #Retratos{
		width: 30%;
	}
	#titulo{
		width: 100%;
	}
}

.cont-titulo{
	display: flex;
	flex-flow: row wrap;
}

@media(min-width: 901px) {
	.cabecera{
		max-width: none;
		margin-right: auto;
		margin-left: auto;
	}
	#menu-principal{
		max-width: 900px;
		margin: auto;
	}
	#inicio, #Paisaje, #Retratos{
		width: 30%;
	}
	#titulo, #menu-principal {
		width: 50%;
	}
}

#inicio a:link{
	text-decoration-line: none;
}

.contenedor1 {
	background: #82c3a6;
}

.imagen1 {
	height: 75%;
	width: 85%;
	display: block;
	margin: auto;
	padding: 1%;
	border: 5%;
}

.contenedor2 {
	box-sizing: border-box;
	background: #d5c75f;
	border: 1px;
	display: flex;
	flex-flow: row wrap;
}

.imagen2 {
	height: 75%;
	width: 85%;
	display: block;
	margin: auto;
	box-shadow: 4px 4px #82c3a6;
	padding-top: 1%;
	border: 2px;
}

.imagen3 {
	height: 75%;
	width: 85%;
	display: block;
	margin: auto;
	box-shadow: 4px 4px #82c3a6;
	padding-top: 1%;
	border: 2px;
}

.retratos, .paisaje {
	text-align: center;
	text-decoration-line: underline;
	color: black;
}

@media (min-width: 900px) {
	.contenedor{
		max-width: 900px;
		margin-right: auto;
		margin-left: auto;
	}

	.retratos, .paisaje{
		width: 50%
	}
}

.paisaje:hover {
	transform: rotate(10deg);
}

.retratos:hover {
	transform: translate(5px, -20px);
}

.pie{
	background-color: #c6d5c5;
	border-radius: 0px 0px 10px 10px;
	color: black;
	padding-top: 1px;
	padding-bottom: 1px;
	display: flex;
	flex-flow: row wrap;
}

/*.pie {
	
}*/

@media (min-width: 900px) {
	.pie{
		/*max-width: 900px;*/
		margin-left: auto;
		margin-right: auto;
	}

	.pie1, .pie2, .pie3, .pie4 {
		width: 25%;
	}
}

@media (max-width: 899px) {
	.pie{
	/*max-width: 900px;*/
	margin-left: auto;
	margin-right: auto;
	}

	.pie1, .pie2, .pie3, .pie4 {
		width: 100%;
	}
}

footer .pie1, .pie2, .pie3, .pie4{
	text-align: center;

}

#titulonegro{
	font-weight: bold;
}